
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root { 
  --clr-dark:rgb(26, 26, 26);
  --clr-light:#fff;
  --clr-speacial:#E31B6D;
  --bg-dark:#1B242F;
}

/*Typography
================*/


a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

strong{
  color: var(--clr-speacial);
}


h1,h2{
  padding-bottom: .5em;
}



/* Header 
============*/

header{
  position: sticky;
  top:0;
}

#navbar ul{
  background-color: var(--bg-dark);
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#navbar li{
  font-size: 1.5em;
  text-decoration: none;
  padding: .75em 1em;
}

#navbar a{
  color: var(--clr-light);
}

#navbar a:hover,
#navbar a:focus{
  color: var(--clr-speacial);
}

/* welcome-section 
===================*/

#welcome-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: var(--bg-dark);
  color: var(--clr-light);
}


#welcome-section a{
  margin-top: 4em;
}

