
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root { 
  --bg-dark:rgb(26, 26, 26);
  --bg-light:rgba(194, 45, 102, 0.867);
}

/*Typography
================*/


a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Header 
============*/

header{
  position: sticky;
  top:0;
}

#navbar ul{
  background-color: var(--bg-light);
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#navbar li{
  font-size: 1.5em;
  text-decoration: none;
  padding: .75em 1em;
}